@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.rdp {
  --rdp-cell-size: 44px;
}

@media (max-width: 768px) {
  .rdp-months {
    flex-direction: column !important;
  }
}
